

h1{
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
}

h2{
  font-family: sans-serif;
}
h3{
  font-family: sans-serif;

}

body{
  background-color: #2C2F33;
}

div{
  background-color: #2C2F33;
  color: whitesmoke;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.mat-raised-button {
  font-family: sans-serif !important;
}

#middle {
  width: 100%;
  align-items: center;
  align-content: center;
  child-align: middle;
  horiz-align: center;
  align-self: center;
}

